.nav {
    width: 100%;
    padding: 2rem;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #f0f0f0;
}

.nav ul {
    padding: 0.5rem;
    margin: 1rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
}

.nav ul li {
    padding: 0.5rem 1rem;
    display: inline-block;
}

.nav ul li a {
    padding: 0.25rem 0.75rem;
    border-radius: 5rem;
    font-size: 1.10rem;
    font-weight: 600;
}

.nav ul li a:hover {
    color: white;
    background: rgb(82, 46, 40);
}